click==8.0.1
Flask==2.2.3
Flask-WTF==1.1.1
itsdangerous==2.1.0
Jinja2==3.0.3
MarkupSafe==2.0.1
Werkzeug==2.1.5
WTForms==3.0.0
fitz==0.0.1.dev2
numpy==1.22.1
opencv-python-headless==4.5.4.58
Pillow==9.4.0
