{% extends 'base.html' %}

{% block title %}Page Count{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title text-center mb-4">Page Count</h1>
          <p class="card-text">Colored pages: {{ colored_count }}</p>
          <p class="card-text">Black and white pages: {{ b_w_count }}</p>
          <p class="card-text">Total Pages: {{ total_page_count }}</p>
          <a href="{{ url_for('bp.upload_pdf') }}" class="btn btn-primary btn-block mt-3">Back to upload</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
